li {
    list-style: none;
}

.bear-img {
    float: left;
}

.title, .product-tab {
    color: red;
    font-family: 'Comic Sans MS';
    text-shadow: 2px 2px #ff0000;
}

.btn {
    margin: 1%;
}

#return a {
    color: white;
}

.navbar-header {
    margin-left: 1%;
}

.navbar-right {
    margin-right: 2%;
}

.well img {
    width: 100%;
}