@model GummiPlanet.Models.Product
@{
    ViewData["Title"] = "Gummi Planet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="bear-img">
            <img src="~/img/bear.jpg" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="product-list">
            <h2>Are you sure you want to delete: @Html.DisplayFor(model => model.Name)?</h2>
            <hr />
         
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
<p class="btn btn-primary" id="return">@Html.ActionLink("Back to list", "Index")</p>
        </div>
    </div>
</div>