@model GummiPlanet.Models.Product
@{
    ViewData["Title"] = "Gummi Planet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="bear-img">
            <img src="~/img/bear.jpg" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="home-img">
            <img src="http://bpc.h-cdn.co/assets/16/03/480x480/gallery-1453241494-yum-earth-gummy-bears.jpg">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <img src="http://target.scene7.com/is/image/Target/50300473?wid=520&hei=520&fmt=pjpeg">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <img src="https://i5.walmartimages.com/asr/37a7bdb2-a1c4-449b-9604-9770c7f701ec_1.a4efcd468903c27d8ba4ca6660ed126d.jpeg">
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <img src="http://i.ebayimg.com/00/s/NTAwWDUwMA==/z/HUMAAOSwcLxYDRKT/$_35.JPG?set_id=8800005007">
        </div>
    </div>
</div>
