@model GummiPlanet.Models.Product
@{
    ViewData["Title"] = "Gummi Planet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="bear-img">
            <img src="~/img/bear.jpg" />
        </div>
    </div>
    <div class="col-md-8">
        <div class="home-img">
            <img src="http://morethanthecurve.com/wp-content/uploads/2010/12/gummy_bears.jpg">
        </div>
    </div>
</div>